.jobFeed{
    margin: 0px 10px 10px 10px;
    text-align: center;
    padding:20px;
    background-color: #fefefe;
    border-radius: 6px;;
    height: 330px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(72,72,72,.12), 0px 2px 2px rgba(72,72,72,.5);

}
.title{
    padding: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.title h4{
    font-size: 18px;
    font-weight: bold;
    color:rgb(46, 45, 45);
}
.title .company{
    font-size: 15px;
    color:blue;
    cursor: pointer;
}
.shift{
    padding: 5px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.shift span{
    background-color: rgb(216, 216, 218);
    padding:5px;
    border-radius: 3px;
    line-height: 12px;
    font-size: 14px;
    color:rgb(41, 39, 39);
    font-weight: 500;
}
.downshift{
    text-align: left;
    display: flex;
    justify-content: space-around;
}
.points{
    margin:auto;
    width:100%;
}
.jobFeed h2{
    font-weight: bold;
    text-align: left;
    color:rgb(46, 45, 45);
    font-size: 15px;
    padding-left: 10px;
}
.jobFeed ul{
    margin:8px;
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
}
.jobFeed ul li{
    display: inline;
    padding-right: 20px;
    float: left;
    line-break: strict;
    font-size: 14px;
    font-weight: 500;
    text-underline-position: below;
    color: rgb(85, 82, 82);
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot{
    font-size: 13px;
    color:rgb(34, 34, 34);
    text-align: left;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.foot .viewBtn{
    padding: 10px;
    background-color: rgb(21, 98, 213);
    color:white;
    font-size: 15px;
    border-radius: 4px;
}
.foot b{
    color:rgb(38, 37, 37);
}
.color-green, .color-green li svg{
    color:green;
}
