.searchedJob{
  margin-top:2px;
}
.searchedJob .topElements{
  display: flex;
  justify-content: space-between;
}
.searchedJob .topElements .backArrow{
  background-color: #64aef6;
  color: #fff;
  align-items: center;
  display: flex;
  padding: 5px 10px 5px 10px;
  margin: 20px;
  justify-content: center;
  cursor: pointer;
}

.searchedJob .topElements .backArrow svg{
  margin-right: 5px;
}
.errorBox{
  color: red;
  font-weight: 500;
}
.searchedJob .job{
  padding:10px;
  border-radius: 6px;
  width: max-content;
  margin: auto;
}