:root{
  --blue:#0064a9;
  --yellow:#ffb12a;
}
.status {
  background-color: 	#ffcc00;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  width:220px;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin:auto;
}
.adminDashboard {
  display: flex;
  justify-content: space-between;
}
.adminDashboard .listItems{
  position: sticky;
  top:20px;
  height: max-content;
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.adminDashboard .listItems h1{
  margin-top: 100px;
  font-weight: bold;
}
.adminDashboard .listItems ul{
  width: 100%;
  text-align: center;
}
.adminDashboard .listItems ul li{
  width: 100%;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  color: #100e0e;
}
.adminDashboard .listItems ul .active{
  background-color: #cecece;
  color: #0064a9;
  
}

.adminDashboard .tabs{
  padding:10px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin: auto;
  max-width: 300px;
}
.adminDashboard .tabs button{
  padding: 5px 10px 5px 10px;
  color:#000;
  cursor: pointer;
  border: 1px solid black;
}
.adminDashboard .tabs .active{
  background-color: var(--blue);
  color:#fff;
}
.footer {
  display: flex;
  justify-content: center;
}

.btns {
  display: flex;
  padding: 5px;
}

.accept-btn {
  margin: 10px;
  width:100px;
  padding:5px 10px 5px 10px;
  height: 30px;
  border: none;
  background-color: green;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.reject-btn { 
  margin: 10px;
  width: 100px;
  padding:5px 10px 5px 10px;
  height: 30px;
  border: none;
  background-color: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.containerSpecial {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonSpecial {
  text-align: center;
  width: 100px;
  height: 30px;
  border: none;
  background-color: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin: 8px;
}
.onejob{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width:100%;
  position: sticky;
  top:10px;
}
.onejob .controls{
  padding: 10px;
  margin: auto;
}
.down{
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.hide{
  display: none;
}

@media only screen and (max-width: 1050px) {
  .right{
    display: none;
  }
  .down{
    width: 100%;
  }
}
@media only screen and (min-width: 1050px) {
  .right{
      display: block;
  }
  .down{
    width: 80%;
  }
  .scrollableContent{
    max-height: 500px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
}
.nomore{
  font-weight:500;
}


