.container-auth{
  margin-top: calc(100vh/6);
}
.container-auth form{
  max-width: 360px;
  padding: 2% 4% 2%;
  margin: auto;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.container-auth form label{
  display: flex;
  display: none;
}
.container-auth form .btn{
  margin-top: 25px;
}
.container-auth form .btnLogging{
  display: block;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #aeaeae;
  padding: 7px 20px;
  color: #000;
  transition: 0.2s;
}
.container-auth button{
  display: block;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #000;
  padding: 7px 20px;
  color: #fff;
  transition: 0.2s;
}
.container-auth button:hover{
  border-radius: 20px;
}
.container-auth label{
  padding: 10px 0 2px 0;
}
.container-auth input{
  width: 100%;
  outline: none;
  border: 0px;
  line-height: 20px;
  border-bottom: 1px solid #000;
  padding: 20px 10px 2px 0;
  font-size: 15px;
  color: gray;
  font-weight: 500;
}
.container-auth form .error{
  color: red;
  font-size: 14px;
  font-weight: 500;
  padding-top: 10px;
  border-radius: 2px;
}
.container-auth h2{
  font-weight: 700;
  font-size: 20px;
}
.container-auth p{
  padding-top: 15px;
  font-weight: 400;
}
.container-auth p .Link{
  color: blue;
}
.logoutContainer{
  max-width: 360px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    background-color: transparent;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.logoutButton{
  display: block;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #000;
  padding: 7px 20px;
  color: #fff;
  transition: 0.2s;
}
.logoutButton:hover {
  border-radius: 20px;
}