
.userProfile .message{
  padding: 5px;
  font-weight: bold;
  color:green;
  text-align: center;
}
.top-flex{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
