.searchInput{
    width:100%;
    border-radius: 10px;
    margin:10px;
    padding: 5px;
    display: flex;
    height: 50px;
    justify-content: space-between;
}
.searchInput input[type='search']{
  width:100%;
  padding:5px;
  outline: none;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 5px rgba(72,72,72,.12), 0px 2px 2px rgba(72,72,72,.5);
}
.searchResultLeft{
    position: absolute;
    padding:10px;
    min-width: 40%;
    margin: auto;
    z-index:1;
    background-color: #fff;
    border: 1px solid rgb(77, 74, 74);
}
#option{
    padding:15px;
    border-radius: 2px;
}
.searchResultLeft option:hover{
  background-color: #0064ae;
}
