:root{
    --black:rgb(20, 20, 20);
    --blackHeadColor:#3d3b3b;
    --lightBlack:rgb(163, 154, 154);
    --blue:#0064a9;
    --yellow:#ffb12a;
}
.form{
  padding: 10px;
}
.superSection{
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(72,72,72,.12), 0px 2px 2px rgba(72,72,72,.5);

}
.sections{
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around ;
}
.side{
  text-align: center;
  padding: 10px;
}
.headTitle{
  font-weight: bold;
  font-size: 16px;
  margin:4px;
  color:var(--blackHeadColor);
}
.side .row{
  padding: 5px 10px 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.side .row label{
  text-align: center;
}
.row textarea{
  font-size: 15px;
  outline: none;
  background-color:#eee;
  padding: 5px;
  border:1px solid var(--blackHeadColor);
}
.flexrow{
  display: flex;
  flex-direction: column;
}
.side .row input,.input{
  font-size: 15px;
  outline: none;
  padding: 5px;
}
.input,.side .row input{
  width:360px;
  background-color:#eee;
  text-align: center;
}
.orgLogo{
  background-color: red;
}
.btnstyle{
  width:150px;
  background-color: var(--blue);
  color:white;
  margin:10px;
  padding:5px;
  border-radius: 3px;
  font-size: 18px;
  font-weight:600;
}
.addBtn{
  width:60px;
  background-color: var(--lightBlack);
  color:black;
  margin:5px;
  padding:2px;
  color: black; 
  font-weight: 500;
  border-radius: 3px;
  font-size: 14px;
}
.font-small{
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.showform{
  display: flex;
}
.hideform{
  display: hidden;
}
.side ul{
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
}
.side ul li{
  margin:2px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  width:300px;
}
.errorMessage{
  font-weight: bold;
  color:red;
}
.flexdown{
  display: flex;
  flex-direction: column;
}
.ErrorBox{
  text-align: center;
}
.inputErrorMesg{
  padding: 0;
  margin: 0;
  font-size: 12px;
  color:red;
  font-weight: 500;
  text-align: center;
}
.mandatoryField{
  color: red;
  margin:2px;
  font-weight: 500;
}
.messageBox{
  text-align: right;
}
.logotype{
  font-size: 12px;
  text-align: right;
  font-weight: 500;
}
@media only screen and (max-width: 750px) {
  .sections{
    padding: 5px;
  }
  .side{
    padding: 5px;
    border-right: none;
    max-width: 500px;
  }
  .input,.side .row input{
    width:160px;
  }
  .side .row{
    width: 280px;
  }
  .side .row input,.side .row label,.input{
    font-size: 12px;
  }
  .btnstyle{
    width:100px;
    margin:8px;
    padding:3px;
    font-size: 15px;
  }
  .addBtn{
    width:60px;
    background-color: #aeaeae;
    color:black;
    margin:5px;
    padding:2px;
    border-radius: 3px;
    font-size: 14px;
  }
  .side ul li{
    width:200px;
  }
}
@media only screen and (min-width: 750px) {
  .superSection{
    max-width:70%;
  }
  .side{
    width: 600px;
  }
  .side .row label{
    font-size: 15px;
  }
  .multi{
    max-width: 310px;
  }
  
}
